.liked-by {
  font-size: 0.9em;
  margin-left: 5px;
  margin-bottom: 5px;
}

.created-at-post {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.7em;
  color: rgb(110, 110, 110);
}

.like-username {
  font-weight: bold;
}

.like-others {
  font-weight: bold;
}

.heart-container {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 24px;
  color: rgb(110, 110, 110);
}

.filled-heart {
  color: red;
}

.single-post-comments-container {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 3px;
  margin-left: 5px;
}

.single-post-comment-username-display {
  display: flex;
  flex-direction: row;
}

.single-post-comment {
  margin-top: 5px;
  inline-size: 300px;
  word-break: break-word;
}

.created-at {
    margin-left: 5px;
    margin-top: 7px;
    margin-bottom: 20px;
    font-size: 0.7em;
    color: rgb(110, 110, 110);
}

.post-description {
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 3px;
}

.created-at-post-description {
  font-size: 0.7em;
  margin-left: 5px;
  margin-bottom: 10px;
  color: rgba(var(--f52, 142, 142, 142), 1);
}

.comments-main {
  max-height: 520px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 5px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.comments-main::-webkit-scrollbar {
  display: none;
}
