.navbar-main {
  display: flex;
  height: 37px;
  justify-content: space-between;
  border: 1px solid rgb(191, 182, 182);
}

.navbar-name {
  text-decoration: none;
  color: #000000;
  font-size: 30px;
}

.create-post-modal {
  font-size: 30px;
  cursor: pointer;
  background-color: white;
}
