.navbar-main-container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(214,214,214);
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  height: 55px;
}

.navbar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 45px;
}
.navbar-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 37px;

}

.circle-user-button  > .fa-solid.fa-circle-user {
  font-size: 40px;
}

.navbar-name {
  text-decoration: none;
}

.create-post-modal {
  font-size: 28px;
  cursor: pointer;
  background-color: white;
}
