.footer {
    background-color: #929292;
}

.footer-content {
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.footer-content p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 0;
}

.footer-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.created-with {
    font-size: 16px;
    grid-template-columns: auto;
}

.footer-links {
    color: white;
    text-decoration: none;
}

.footer-links:hover {
    text-decoration: underline;
}

.fa-github {
    font-size: 30px;
}

.footer-bottom {
    align-items: center;
    background-color: #929292;
    color: white;
    display: flex;
    height: 30px;
    justify-content: end;
    padding-left: 36px;
}

.footer-copyright {
    padding-left: 20px;
}
