.search-bar-nav {
    border-radius: 8px;
}

.search-form {
    display: grid;
    grid-template-columns: 4fr auto;
    height: 30px;
}

.search-form input {
    background-color: rgba(34, 34, 34, 0.05);
    border: 1px solid rgb(214,214,214);
    border-left: 0;
    font-size: 16px;
    height: 30px;
}

.search-form label {
    background-color: rgba(34, 34, 34, 0.05);
    border: 1px solid rgb(214,214,214);
    border-right: 0;
    font-size: 18px;
    height: 30px;
}

.fa-search {
    height: 24px;
    width: 24px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 10px;
}

.search-results-container {
    position: absolute;
    z-index: 2;
    width: 13.5rem;

    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 darkgray;
    margin: 5px 0px 0px 0px;
    padding: 10px;
    color: black;
}

.search-results-container ul {
    padding: 0;
}

.search-results-container li {
    margin: 3px;
    padding: 5px 5px;
}

.search-results-container li a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.search-results-container li:hover {
    background-color: rgba(211, 211, 211, 0.6);
    border-radius: 3px;
}

.no-results {
    margin-top: 10px;
    color: rgba(var(--f52,142,142,142),1);
}
