.error-image {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-size: cover;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.error-site-logo {
  display: flex;
  position: relative;
  justify-content: left;
  z-index: 20px;
}

.error-link {
  height: 100%;
  width: 100%;

}
