.splash-page {
  margin-top: 80px;
  display: flex;
  background-color: rgba(var(--b3f,250,250,250),1);
  margin-bottom: 100px;
}

.login-container {
  margin-top: 5%;
  margin-left: 15%;
  /* margin-bottom: 15%; */
  width: 360px;
  height: 360px;
  box-sizing: border-box;
  border: 1px solid rgb(214, 214, 214);
  background-color: rgb(255, 255, 255);
}

.login-form-logo {
  font-family: "Cookie", cursive;
  font-size: 40px;
  /* margin-top: 10%; */
  margin-bottom: 5%;
  margin-left: 20%;
  color: rgb(34, 34, 34);
}

.login-email-password {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.login-form-input {
  box-sizing: border-box;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 4px;
  width: 50%;
  height: 25px;
}
.login-form-label {
  margin-top: 20px;
}
.login-form-input::placeholder {
  font-size: 12px;
  color: rgb(200, 200, 200);
}

.login-btn-container {
  margin-top: 17px;
  margin-bottom: 15px;
}

.login-btn {
  line-height: 18px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  text-align: center;
  width: 60px;
  background-color: rgb(0, 138, 240);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}

.demo-user-btn-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.demo-user-btn {
  line-height: 18px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  text-align: center;
  width: auto;
  background-color: rgb(0,138,240);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}

.signup-form-button {
  cursor: pointer;
  text-decoration: none;
  border: none;
  font-size: 15px;
  font-weight: 700;
  color: rgb(0, 138, 240);
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: row;
}

.no-account {
  font-size: 15px;
  font-weight: 400;
  color: rgb(34,34,34);
  display: flex;
  flex-direction: row;
}

.main-pic {
  width: 350px;
  height: 100%;
  background-color: rgb(250, 250, 250);
}

.rotating-pic {
  width: 350px;
  height: 100%;
  background-color: rgb(250, 250, 250);
}

.error-list {
  color: #a61a2e;
  font-weight: 400;
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
  transition: opacity 200ms ease-in;
  text-align: center;
}
