.posts-main {
  display: flex;
  margin-top: 40px;
  margin-bottom: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all-posts-container {
  display: flex;
  flex-direction: column;
  /* border-radius: 14px; */
  /* box-shadow: 0 0 10px grey; */
  border: 1px solid rgb(191, 182, 182);
  margin: 30px 0px 20px 0px;
}

.post-username {
  background-color: #ffffff;
  text-transform: capitalize;
  display: flex;
  height: 25px;
  flex-direction: row;
  inline-size: 600px;
  width: 400px;
  font-weight: 600;
  font-size: 18px;
  margin: 0px 0px 5px 0px;
}

.post-user-description {
  display: flex;
  flex-direction: row;
  margin-left: 0%;
  margin-top: 10px;
  margin-left: 5px;
}
.post-d-user {
  background-color: #ffffff;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 18px;
}

.post-description-u {
  flex-direction: row;
  background-color: #ffffff;
  font-weight: 400;
  margin: 3px 0px 10px 0px;
  font-size: 14px;
  width: 575px;
  inline-size: 575px;
  overflow-wrap:break-word;
  margin-left: 5px;
}

.add-comment-container {
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
  width: 649px;
}
.comments-main {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 400px;
}

.post-detail-container {
  width: 400px;
}

.comments-container {
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 5px;
  overflow-wrap:break-word;
  width: 650px;
}

.comment-input {
  border: none;
  padding-bottom: 12px;
  padding-left: 2px;
}
.number-comments {
  color: rgba(var(--f52, 142, 142, 142), 1);
  margin-left: 5px;
  margin-bottom: 10px;
}

.create-post-button {
  line-height: 18px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  text-align: left;
  width: auto;
  background-color: rgb(49, 152, 232);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}

.post-description {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 400px;
  inline-size: 400px;
}
.post-description-text {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 400px;
  inline-size: 400px;
  overflow-wrap:break-word;
}

.cancel-add-button {
  line-height: 18px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  text-align: left;
  width: auto;
  background-color: rgb(49, 152, 232);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}

.edit-post-button {
  line-height: 18px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  text-align: left;
  width: auto;
  background-color: rgb(49, 152, 232);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}

.edit-post-modal {
  line-height: 18px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  text-align: center;
  width: 134px;
  background-color: rgb(49, 152, 232);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}

.delete-button {
  line-height: 18px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  text-align: left;
  width: auto;
  background-color: rgb(49, 152, 232);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}

.edit-comment-button {
  line-height: 18px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  text-align: center;
  width: 70px;
  background-color: rgb(49, 152, 232);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}

.delete-comment-button {
  line-height: 18px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  text-align: center;
  width: 70px;
  background-color: rgb(49, 152, 232);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}

.cancel-edit-button {
  line-height: 18px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  text-align: center;
  width: 70px;
  background-color: rgb(49, 152, 232);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}

.sign-up-button {
  line-height: 18px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  text-align: center;
  width: auto;
  background-color: rgb(49, 152, 232);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}

.edit-errors {
  color: #000000;
  font-weight: 400;
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
  transition: opacity 200ms ease-in;
  margin-top: 20px;
  margin-bottom: 20px;
}

.create-errors {
  color: #000000;
  font-weight: 400;
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
  transition: opacity 200ms ease-in;
  margin-top: 20px;
  margin-bottom: 20px;
}
.comments-errors {
  color: #000000;
  font-weight: 400;
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
  transition: opacity 200ms ease-in;
  margin-top: 20px;
  margin-bottom: 20px;
}

.created-at {
  font-size: 14px;
  margin-left: 5px;
  margin-bottom: 15px;
  color: rgba(var(--f52, 142, 142, 142), 1);
}

.delete-post-icon {
  display: flex;
  margin-left: 80%;
}

.delete-post-modal {
  border: none;
  background-color: white;
}

.edit-comment-modal {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: none;

  background-color: white;
  margin-left: 5px;
  margin-top: 2px;
}

.single-post-comments-container {
  flex-direction: row;
  margin-top: 5px;
  width: 400px;
  inline-size: 400px;
  overflow-wrap:break-word;
  margin-bottom: 5px;
}


.single-post-comment {
  width: 400px;
  inline-size: 400px;
  overflow-wrap:break-word;
}

.home-page-username {
  margin-left: 5px;
  margin-top: 5px;
}

.username-icon-home {
  margin-top: 5px;
  margin-left: 5px;
}

.add-image-label {
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.add-description-label {
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.sign-up-labels {
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#form-label-image {
  width: 100%;
  height: 20px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid gray;
}
#form-label-description {
  width: 100%;
  height: 30px;
  padding: 5px;
  margin-bottom: 10px;
  resize: none;
  border: 1px solid gray;
}
#comment-label {
  width: 100%;
  height: 20px;
  padding: 5px;
  margin-bottom: 10px;
  resize: none;
  border: 1px solid gray;
}
#sign-up-form-inputs {
  width: 100%;
  height: 25px;
  margin-bottom: 10px;
  resize: none;
  border: 1px solid gray;
}
