.new-comment-container input {
    width: 99%;
    pointer-events: auto;
}

.comment-label {
    width: 100%;
}

.new-comment-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.create-post-button {
    width: 20%;
}

.comment-input {
    padding: 10px 0px 10px 0px;
}

.fa-face-laugh-beam {
    margin: 5px;
    font-size: 30px;
}
