.new-comment-container input {
  pointer-events: auto;
}

.single-add-comment-container {
  display: flex;
  border-top: 1px solid rgb(214, 214, 214);
}

.add-comment-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid rgb(214, 214, 214);
}

.add-comment-user-icon {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 5px;
}

.smiley-face {
  font-size: 28px;
  margin-top: 5px;
  margin-left: 5px;
}

.new-comment-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-right: none;
}

.create-comment-button {
  border: none;
  font-size: 14px;
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(119, 190, 245);
}

.comment-input {
  border: none;
  width: 93%;
  padding-top: 12px;
  padding-left: 10px;
}

.comment-label {
  width: 95%;
}

.fa-face-laugh-beam {
  margin: 5px;
  font-size: 30px;
}

.omments-likes-container {
  position: absolute;
  bottom: 0;
  border-left: none;
  width: 29.7%;
  border: 1px solid rgb(214, 214, 214);
}
