.user-icon {
  cursor: pointer;
  font-size: 30px;
}

.home-button-icon {
  color: black;
  font-size: 30px;
}
.user-icon-button {
  cursor: pointer;
  border: none;
  font-size: 30px;
  background-color: white;
}

.profile-dropdown {
  background-color: white;
  border-radius: 14px;
  height: 40px;
  padding: 10px;
  position: absolute;
  right: 0px;
  top: 50px;
  width: 45px;
}

.profile-dropdown ul {
  list-style: none;
}

.fa-house {
  text-decoration: none;
  color: black;
}
