.user-icon {
  cursor: pointer;
  font-size: 30px;
}

.home-button-icon {
  color: black;
  font-size: 30px;
}
.user-icon-button {
  cursor: pointer;
  border: none;
  font-size: 30px;
  background-color: white;
}

.profile-dropdown {
  background-color: white;
}


.fa-house {
  text-decoration: none;
  color: black;
}

.profile-page {
  padding-left: 80px;
  display: flex;
  width: 1400px;
  flex-wrap: wrap;
}

.user-posts-container {
  display: flex;
  flex-direction: column;
  height: 400;
  width: 400;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
